@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
}
@media only screen and (max-width: 600px) {
    /* Adjust navigation for mobile */
    .nav-links {
        flex-direction: column;
        gap: 1rem;
    }

    /* Adjust sections for better readability on mobile */
    section {
        padding: 20px;
        margin: 0;
    }

    /* Adjust font sizes for smaller screens */
    .title, .section__text__p1, .section__text__p2 {
        font-size: smaller;
    }

    /* Adjust layout for profile section */
    #profile {
        flex-direction: column;
        align-items: center;
    }

    /* Other responsive adjustments... */
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Adjust layout for tablet screens */
    .nav-links {
        gap: 1.5rem;
    }

    /* Adjust section margins and padding */
    section {
        padding: 30px;
        margin: 10px;
    }

    /* Adjust text sizes for medium screens */
    .title, .section__text__p1, .section__text__p2 {
        font-size: medium;
    }

    /* Adjustments for specific sections if needed */
    /* ... */
}
@media only screen and (min-width: 1025px) {
    /* Adjustments for large screens, like increasing whitespace and text size */
    .nav-links {
        gap: 2rem;
    }

    section {
        padding: 40px;
        margin: 20px;
    }

    .title, .section__text__p1, .section__text__p2 {
        font-size: large;
    }

    /* Adjust profile section layout for wide screens */
    #profile {
        flex-direction: row;
    }

    /* Other desktop-specific adjustments... */
}
